
.container text-center{
 
    max-width: 100%;
 
}

.col-5{
    padding-bottom: 20px;
   
    width: 100%;
}
 
 /* .btn-spacing{
    margin-right: 25px;
   
  }*/
h4{
    margin-top: 20px;
}
 
.navbar-text-left{
    color: #828282;
    margin-left: 20px;
    font-size: 20px;
}
.time-button button {
    display: inline-block;
    font-size:  15px;
    padding:  5px  10px;
    margin-right:  20px;
    width:85px;
    gap:20px;
  }
