
 
  .welcome-page {
    /* background-image: url('C:\Users\prathamesh.nimbalkar\OneDrive - Parkar Digital\Desktop\git_push\src\img\back1.jpg'); */
    background-image: url('../img/back1.jpg');
    background-size: cover;
    background-position: center;
    height:  100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    
  }
 
  .welcome-content {
    text-align: center;
    color: white;
    border:  1px solid white; 
    padding:  45px;
    padding-bottom: 0px;
    background-color: rgba(0,  0,  0,  0.5); 
    box-shadow:  0  4px  8px rgba(0,  0,  0,  0.2); 
    border-radius:  10px; 
    animation: fadeIn  2s ease-in-out;
    
    
  }

  .welcome-text {
    font-size:  3rem;
    margin-bottom:  20px; 
  }
 
  .buttons {
    margin-top:  2rem;
    display:flex;
    gap:50px;
  }
 
  .signup-btn, .login-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding:  10px  20px;
    margin:  10px;
    cursor: pointer;
    transition: background-color  0.3s ease;
    border-radius:  5px; 
    box-shadow:  0  2px  4px rgba(0,  0,  0,  0.2); 
  }
 
  .signup-btn:hover, .login-btn:hover {
    background-color: #0056b3;
  }
 
  @keyframes fadeIn {
     0% { opacity:  0; }
     100% { opacity:  1; }
  }
 
 
  .welcome-content::before {
    content: '';
    position: absolute;
    top:  0;
    left:  0;
    width:  100%;
    height:  100%;
    background: inherit;
    filter: blur(10px);
    z-index: -1;
  }

  @media only screen and (max-width: 576px) {
    .welcome-content{
      width: 95%;
    }
    .buttons{
      gap: 30px;
    }
  }
